:root{
      --black:rgb(11, 13 , 23);
      --primary:rgb(208 , 214 , 249);
      --white:rgb(255 , 255 , 255);
      --main-font:'Bellefair', serif;
      --secondary-font:'Barlow Condensed', sans-serif;
      --transition: all 0.3s ease;
      --margin-left: 40px;
}

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}



.nav{
      margin-top: 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: var(--margin-left);

}

.nav-list{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 830px;
      padding: 30px 0;                           
      /* background-color: rgba(0, 0, 0, 0.096);      */
      backdrop-filter: blur(25px) saturate(150%) ;
      position: relative;
}

.nav-list::before{
      content: '' ;
      position: absolute;
      left: -350px;
      width: 400px;
      height: 1px;
      background: white;
}

.nav .nav-list .nav-item{
      list-style: none;
}

.nav-link{
      text-decoration: none;
      color: var(--white);
      text-transform: uppercase;
      font-family: var(--secondary-font);
      font-size: 20px;
      margin: 0 10px;
      padding-bottom: 30px;
      transition: var(--transition);

}

.nav-link.active{
      border-bottom: 2px solid var(--primary);

}

.nav-link:hover{
      color: var(--primary);
      border-bottom: 2px solid var(--white);
}

.num{
      font-weight: 900;
      padding-right: 5px;
}

.hamburger{
      display: none;
}

.close-btn{
      display: none;
}

@media(max-width:1200px){

      .nav-list::before{
            width: 200px;
            left: -175px;
      }
}

@media (max-width :900px) {
      .nav-list::before{
            display: none;
      }

      .nav{
            margin-top: 0;
      }

      .nav-list{
            margin-left: 100px;
            justify-content: unset;
      }

}

@media (max-width :705px) {
      .nav-list{
            margin-left: 0;
      }
}

      /* PHONE WIDTH */

@media (max-width :505px) {

      .hamburger{
            display: block;
            position: fixed;
            top: 40px;
            right: 9%;
            cursor: pointer;

      }

      .lists{
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 100%;
            width: 70%;
            z-index: 10;
            backdrop-filter:blur(25px) saturate(100%);
            transition: all  0.9s ease-in;
      }

      .lists.active-for-nav{
            left: 30%;
      }

      .close-btn{
            display: block;
            position: fixed;
            top: 40px;
            right: 10%;
            z-index: 10;
            cursor: pointer;
      }
      
      .nav{
            margin-top: 35px;
      }
      
      .nav-list{
            flex-direction: column;
            align-items: flex-start;
            margin: 60px 40px;
            width: 100%;
            height: 100%;
            backdrop-filter:unset;
      }

      .nav-list li{
            margin: 10px 0;
      }

      .nav-link{
            padding-bottom: 10%;
      }

      .nav-link.active , .nav-link:hover{
            border: none;
            border-left: 8px solid var(--white);
            padding-left: 50px;
      }

}

