:root{
      --black:rgb(11, 13 , 23);
      --primary:rgb(208 , 214 , 249);
      --white:rgb(255 , 255 , 255);
      --main-font:'Bellefair', serif;
      --secondary-font:'Barlow Condensed', sans-serif;
      --transition: all 0.3s ease;
      --margin-left: 40px;
}

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;

}


.container{
      height: 100vh;
      background: url('assets/home/background-home-desktop.jpg') ;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: var(--white);
      overflow: hidden;      
}


@media (max-width:900px){
      .container{
            background: url('assets/home/background-home-tablet.jpg');
            background-size: cover;
            background-repeat: no-repeat;
      }

}

@media (max-width:510px){
      .container{
            background: url('assets/home/background-home-mobile.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;      

      }
      
}

.main{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 100vh;
      margin-left: 100px;
      margin-right: 94px;

}

.first-page-l h3{
      text-transform: uppercase;
      letter-spacing: 5px;
      font-family: var(--secondary-font);
      font-weight: 400;
      font-size: 28px;
      letter-spacing: 4.72;
}

.first-page-l h1{
      font-family: var(--main-font);
      text-transform: uppercase;
      font-size: 150px;
      margin: 10px 0;
      font-weight: 600;
}

.first-page-l p{
      width: 55%;
      font-size: 18px;
      line-height: 32px;
}

.circle a {
      text-decoration: none;
      color: inherit;
}

.circle{
      font-family: var(--main-font);
      width: 274px;
      height: 274px;
      border-radius: 50%;
      justify-self: left;
      font-size: 40px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      position: relative;
      z-index: 1;
}

.circle::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.582);
      z-index: -1;
      opacity: 0;
      border-radius: 50%;
      transition:all 0.5s ease-in;


}

.circle:hover::after{
      opacity: 0.7;
      transform: scale(1.5);
}

@media (max-width:1000px) {
      .first-page-l p{
            width: 100%;
      }
}

@media (max-width:900px) {
      .main{
            flex-direction: column;
      }

      .first-page-l{
            text-align: center;
      }
}

@media (max-width:500px){


      .first-page-l h3{
            font-size: medium;
      }

}
