:root{
      --black:rgb(11, 13 , 23);
      --primary:rgb(208 , 214 , 249);
      --white:rgb(255 , 255 , 255);
      --soft-black: #979797;
      --main-font:'Bellefair', serif;
      --secondary-font:'Barlow Condensed', sans-serif;
      --transition: all 0.3s ease;
      --margin-left: 40px;
}

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;

}


.container{
      height: 100vh;
      background: url('assets/technology/background-technology-desktop.jpg') ;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: var(--white);
      overflow: hidden;      
}


@media (max-width:900px){
      .container{
            background: url('assets/technology/background-technology-tablet.jpg');
            background-size: cover;
            background-repeat: no-repeat;
      }

}

@media (max-width:510px){
      .container{
            background: url('assets/technology/background-technology-mobile.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;      
      }
}

#main{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
}

.tech-note{
      margin: 0 25px 0 100px;
}

.start{
      font-family: var(--secondary-font);
      font-weight: 200;
      text-transform: uppercase;
      transform: translate(10px , -200px);
}

.start .tech-num{
      color: var(--soft-black);
      font-weight: 900;
      margin-right: 10px;
}

.tech-img .landscape{
      display: none;
}

.tech-img img{
      border-radius: 10px;
}

.tech-more-detail{
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.tech-nav{
      height: 80px;
      width: 80px;
      border-radius: 50%;
      border: 1px solid rgb(54, 52, 52);
      margin: 10px;
      font-size: 32px;
      font-family: var(--main-font);
      cursor: pointer;
      background-color: transparent;
      color: var(--white);
      transition: all 0.6s ease-in;

}

.tech-nav:hover{
      border: 1px solid var(--soft-black);
}

.tech-nav.active-for-tech{
      border: 1px solid transparent;
      color: var(--black);
      background-color: var(--white);
}

.tech-detail{
      height: 30vh;

}

.tech-detail  .para{
      font-size: 16px;
      font-family: var(--secondary-font);
}

.tech-name{
      font-family: var(--main-font);
      font-size: 56px;
      text-transform: uppercase;
      margin: 5px 0;
      white-space: 10px;
      letter-spacing: 2px;
      font-weight: 400;
}

.tech-name-detail{
      font-size: 18px;
      font-family: var(--secondary-font);
      width: 500px;
      line-height: 32px;
      letter-spacing: 0.3px;
}

@media(max-width:1000px){
      #main{
            flex-direction: column;
      }

      .tech-img .landscape{
            display: block;
            border-radius: 2px;
      }

      .tech-img .portrait{
            display: none;
      }

      .tech-note{
            order: 2;
            margin: 0;
            margin-top: 30px;

      }

      .tech-img{
            order: 1;
      }

      .start{
            transform: translate(0px , -430px);
      }

      .tech-more-detail{
            flex-direction: column;

      }

      .tech-detail .para{
            text-align: center;
            margin-top: 20px;
      }
}